* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {  
margin:0;
width:100%;
height: 100%;
font-family: 'Lato';
background-size: cover; 
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
overflow-x:hidden;
}


.content_underline { 
height: 2px;
margin-left:auto;
margin-right:auto;
background: #777;
width:95%;
}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }




.navbar-custom {
  background-color: #FFFFFF; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar-custom {
  background-color: #FFFFFF; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar-alt-color{
 background-color: #f0f0f0; 
}


.icon-bar{
  background-color: #000000; /* background color will be black for all browsers */
 }